<% layout("../layout") %>

<main class="main main-container">
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-10">
				<p>M&uuml;&#351;teri &#304;li&#351;kileri Taahh&uuml;tnamesi 1. ilanediyor.com - ilanariyor.com.com M&uuml;&#351;teri ili&#351;kileri Merkezi t&uuml;m kullan&#305;c&#305;lar&#305;na haftan&#305;n 7 g&uuml;n&uuml; g&uuml;n&uuml;n her saati kesintisiz hizmet vermeyi taahh&uuml;t eder. 2. ilanediyor.com - ilanariyor.com.com M&uuml;&#351;teri &#304;li&#351;kileri Merkezi t&uuml;m kullan&#305;c&#305;lar&#305;na, &uuml;r&uuml;n, kampanya ve servislerle ilgili &#351;effaf ve anla&#351;&#305;l&#305;r &#351;ekilde bilgi ve destek verir. 3. ISO 10002 M&uuml;&#351;teri &#350;ikayetleri Y&ouml;netimi Sertifikas&#305;&rsquo;na sahip ilanediyor.com - ilanariyor.com.com M&uuml;&#351;teri &#304;li&#351;kileri Merkezi&rsquo;ne ula&#351;an t&uuml;m kullan&#305;c&#305;lar, tek tu&#351;la ger&ccedil;ek bir m&uuml;&#351;teri temsilcisiyle g&ouml;r&uuml;&#351;ebilir. 4. ilanediyor.com - ilanariyor.com.com M&uuml;&#351;teri &#304;li&#351;kileri Merkezi&rsquo;ne iletilen yaz&#305;l&#305; veya s&ouml;zl&uuml; taleplerle ilgili kullan&#305;c&#305;lara en ge&ccedil; 72 saat i&ccedil;inde yaz&#305;l&#305; ya da s&ouml;zl&uuml; bilgi verilir. 5. ilanediyor.com - ilanariyor.com.com M&uuml;&#351;teri &#304;li&#351;kileri Merkezi, kullan&#305;c&#305;lar&#305;n&#305;n ki&#351;isel bilgi gizlili&#287;i ve mahremiyetine sayg&#305; duyar. Kullan&#305;c&#305;lar&#305;n ki&#351;isel verileri farkl&#305; ama&ccedil;larla kullan&#305;lmaz. 6. ilanediyor.com - ilanariyor.com.com M&uuml;&#351;teri &#304;li&#351;kileri Merkezi &uuml;r&uuml;n ve hizmetlerini geli&#351;tirmek i&ccedil;in her zaman kullan&#305;c&#305;lar&#305;n sesini dinler ve gelen &ouml;nerileri titizlikle de&#287;erlendirir. T&uuml;m &ouml;nerilerinizi ilanediyor.com - ilanariyor.com.com Destek B&ouml;l&uuml;m&uuml; &ouml;neri ba&#351;l&#305;&#287;&#305;ndan, sosyal medyada Twitter ve Facebook &uuml;zerinden veya ilanediyor.com - ilanariyor.com.com M&uuml;&#351;teri &#304;li&#351;kileri Merkezi&rsquo;ni e-posta ile bize iletebilirsiniz.</p>
			</div>
		</div>
	</div>
</main>