<% layout("layout") %>
<main class="main main-container section-color-primary">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="widget widget-section widget-box box-container">
					<div class="widget widget-box widget-section box-container widget-contactform">
						<div class="widget-header text-uppercase">
							İLETİŞİM FORMU
						</div>
						<form class="form-additional">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<input type="text" class="form-control" name="input" placeholder="Ad Soyad" />
									</div>
									<div class="form-group">
										<input type="text" class="form-control" name="input" placeholder="Email" />
									</div>
									<div class="form-group">
										<input type="text" class="form-control" name="input" placeholder="Telefon" />
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<textarea class="form-control" name="message" placeholder="Mesajınız"  rows='3'></textarea>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<div class="form-group clearfix">
										<button class="btn btn-primary color-primary pull-right" type='submit'>GÖNDER</button>
									</div>
								</div>
							</div>
						</form>
						</div>  <!-- /. widget-map  -->
						</div><!-- /.center-content -->
						<!-- /.right side bar -->
					</div>
				</div>
				</main><!-- /.main-part-->