<% layout("layout") %>
<main class="main main-container section-color-primary">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

						<div class="col-md-3"></div>
						<div class="col-md-6">
							<table class="table table-responsive">
								<thead>
									<tr>
										<th>PAKET</th>
										<th>ÜCRET</th>
										<th>EYLEM</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>10'LU PAKET</td>
										<td>150 ₺</td>
										<td><button class="btn btn-success">SATIN AL</button></td>
									</tr>
									<tr>
										<td>20'Li PAKET</td>
										<td>280 ₺</td>
										<td><button class="btn btn-success">SATIN AL</button></td>
									</tr>
									<tr>
										<td>30 VE ÜZERİ </td>
										<td> - - - </td>
										<td><button class="btn btn-success">İLETİŞİME GEÇ </button></td>
									</tr>
								</tbody>
							</table>
						</div>	
						</div><!-- /.center-content -->
						<!-- /.right side bar -->
					</div>
				</main><!-- /.main-part-->