<footer class="footer">
    <div class="container footer-mask">
        <div class="container footer-contant">
            <div class="row">
                <div class="col-md-4 hidden-sm hidden-xs">
                    <div class="logo"><a href="#"><img src="../../../../ilan.png" alt="" /></a></div>
                    <div class="social">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="title">
                        <h4>İletişim</h4>
                    </div>
                    <ul class="list list-contact  list-news">
                        <li>Turkiye / ÇORUM</li><!-- 
                        <li><i class="fa fa-phone"></i> +385 (0)1 123 321</li>
                        <li><i class="fa fa-phone"></i>  +385 (0)1 123 322</li>
                        <li><i class="fa fa-envelope"></i>  info@my-website.com</li> -->
                    </ul>
                </div>
                <div class="col-md-4 col-sm-6  hidden-sm hidden-xs">
                    <div class="title">
                        <h4>Sözleşmeler</h4>
                    </div>
                    <ul class="list list-news">
                        <li>
                            <a href="/bireysel">Bireysel Üyelik Sözleşmesi</a>
                        </li>
                        <li>
                            <a href="/kisisel">Kişisel Verilerin Korunması</a>
                        </li>
                        <li>
                            <a href="/kullanim">Kullanım Sözleşmesi</a>
                        </li>
                        <li>
                            <a href="/musteri">Müşteri İlişkileri Taahhütnamesi</a>
                        </li>
                    </ul>
                </div>
            </div>
            </div><!-- /.footer-content -->
            <div class="footer-bottom">
                <div class="container text-right">
                    <img width="70" src="../../../visamaster.jpg">
                </div>
                </div><!-- /.footer-bottom -->
            </div>
        </footer>
        <a class="btn btn-scoll-up color-secondary" id="btn-scroll-up"></a>