<header class="header">
    <div class="top-box" data-toggle="sticky-onscroll">
        <div class="container">
            <div  class="top-bar color-primary">
                <div class="container clearfix">
                    <div class="pull-left">
                        <ul class="login-menu clearfix">
                            <li><a href="#"><i class="fa fa-star"></i> Favoriler</a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i> İlanlarım </a></li>
                            <li><a href="#"><i class="fa fa-user"></i> Profil</a></li>
                            <li><a href="/users/login"><i class="fa fa-power-off"></i> Giriş Yap</a></li>
                        </ul>
                    </div>
                    <div class="pull-right">
                        <ul class="social-nav clearfix">
                            <li><a href="#" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">Facebook</a></li>
                            <li><a href="#" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">Twitter</a></li>
                            <li><a href="#" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">İnstagram</a></li>
                        </ul>
                    </div>
                </div>
                </div><!-- /.top-bar-->
                <section class="header-inner">
                    <div class="container">
                        <div class="logo pull-left pull-sm-up col-sm-6 col-xs-12  text-left">
                            <a href="/">
                                <img src="./ilan.png" style="height: 60px" />
                                <img src="./ilan.png" class="mini-logo" style="height: 60px" />
                            </a>
                        </div>
                        <div class="pull-right pull-sm-up col-sm-6 col-xs-12 websitetitle focus-color  websitetitle-side">
                            <a href="/emlak/ekle" class="row">
                                <div class="sub-title">İlan Ver</div>
                                <h2 class="title">Hızlı ilan ver !</h2>
                            </a>
                        </div>
                        <div class="pull-left menu">
                            <div class="box-navigaion clearfix">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    </button>
                                </div>
                            </div>
                            <nav class="navbar text-color-primary">
                                <div class="text-right">
                                    <button class="navbar-toggler hidden" type="button" data-toggle="collapse" data-target="#main-menu">
                                    &#9776;
                                    </button>
                                </div>
                                <!-- Links -->
                                <div class="collapse navbar-collapse" id="main-menu">
                                    <ul class="nav navbar-nav clearfix">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                                Anasayfa
                                            </a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                                İlanlar
                                                <i class="icon-dropdown"></i>
                                            </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Kiralık</a>
                                                <a class="dropdown-item" href="#">Emlakçıdan</a>
                                            </div>
                                        </li>
                                        <li class="nav-item ">
                                            <a class="nav-link" href="/paketler" aria-expanded="false">
                                                PAKETLER
                                            </a>
                                        </li>
                                        <!-- <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                                Categories
                                                <i class="icon-dropdown"></i>
                                            </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="">Real Estate</a>
                                                <a class="dropdown-item" href="">Yacht Market</a>
                                                <a class="dropdown-item" href="">Car Dealer</a>
                                                <a class="dropdown-item" href="">Job Finder</a>
                                                <a class="dropdown-item" href="">Business Directory</a>
                                                <a class="dropdown-item" href="">Classified Portal</a>
                                                <a class="dropdown-item" href="">Basic shop</a>
                                            </div>
                                        </li>
                                        <li class="nav-item dropdown dropdown-mega">
                                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                                Featured
                                                <i class="icon-dropdown"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-property">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <div class="property-card card">
                                                                <div class="property-card-header image-box">
                                                                    <img src="../../../../front/assets/img/placeholders/395x250.png" alt="" class="" />
                                                                    <a href="listing.html" class="property-card-hover">
                                                                        <img src="../../../../front/assets/img/property-hover-arrow.png" alt="" class="left-icon" />
                                                                        <img src="../../../../front/assets/img/plus.png" alt="" class="center-icon" />
                                                                        <img src="../../../../front/assets/img/icon-notice.png" alt="" class="right-icon" />
                                                                    </a>
                                                                </div>
                                                                <div class="property-card-tags">
                                                                    <span class="label label-default label-tag-primary">sale</span>
                                                                </div>
                                                                <div class="property-card-box card-box card-block">
                                                                    <h3 class="property-card-title"><a href="listing.html">Real estate</a></h3>
                                                                    <div class="property-card-descr">This is simply dummy text of the printing and typesetting industry. That has been the industry standard ...</div>
                                                                    <div class="property-preview-footer  clearfix">
                                                                        <div class="property-preview-f-left text-color-primary">
                                                                            <span class="property-card-value">
                                                                                <i class="fa fa-home"></i>House
                                                                            </span>
                                                                            <span class="property-card-value">
                                                                                <i class="fa fa-tint"></i>1
                                                                            </span>
                                                                            <span class="property-card-value">
                                                                                <i class="fa fa-square-o"></i>200m
                                                                            </span>
                                                                            <span class="property-card-value">
                                                                                <i class="fa fa-eur"></i>60 000
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="property-card card">
                                                                <div class="property-card-header image-box">
                                                                    <img src="../../../../front/assets/img/placeholders/395x250.png" alt="" class="" />
                                                                    <a href="listing.html" class="property-card-hover">
                                                                        <img src="../../../../front/assets/img/property-hover-arrow.png" alt="" class="left-icon" />
                                                                        <img src="../../../../front/assets/img/plus.png" alt="" class="center-icon" />
                                                                        <img src="../../../../front/assets/img/icon-notice.png" alt="" class="right-icon" />
                                                                    </a>
                                                                </div>
                                                                <div class="property-card-tags">
                                                                    <span class="label label-default label-tag-primary">sale</span>
                                                                </div>
                                                                <div class="property-card-box card-box card-block">
                                                                    <h3 class="property-card-title"><a href="listing.html">Coffee bar</a></h3>
                                                                    <div class="property-card-descr">This is simply dummy text of the printing and typesetting industry. That has been the industry standard ...</div>
                                                                    <div class="property-preview-footer  clearfix">
                                                                        <div class="property-preview-f-left text-color-primary">
                                                                            <span class="property-card-value">
                                                                                <i class="fa fa-home"></i>House
                                                                            </span>
                                                                            <span class="property-card-value">
                                                                                <i class="fa fa-tint"></i>1
                                                                            </span>
                                                                            <span class="property-card-value">
                                                                                <i class="fa fa-square-o"></i>200m
                                                                            </span>
                                                                            <span class="property-card-value">
                                                                                <i class="fa fa-eur"></i>60 000
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="property-card card">
                                                                <div class="property-card-header image-box">
                                                                    <img src="../../../../front/assets/img/placeholders/395x250.png" alt="" class="" />
                                                                    <a href="listing.html" class="property-card-hover">
                                                                        <img src="../../../../front/assets/img/property-hover-arrow.png" alt="" class="left-icon" />
                                                                        <img src="../../../../front/assets/img/plus.png" alt="" class="center-icon" />
                                                                        <img src="../../../../front/assets/img/icon-notice.png" alt="" class="right-icon" />
                                                                    </a>
                                                                </div>
                                                                <div class="property-card-tags">
                                                                    <span class="label label-default label-tag-primary">sale</span>
                                                                </div>
                                                                <div class="property-card-box card-box card-block">
                                                                    <h3 class="property-card-title"><a href="listing.html">Backyard pool</a></h3>
                                                                    <div class="property-card-descr">This is simply dummy text of the printing and typesetting industry. That has been the industry standard ...</div>
                                                                    <div class="property-preview-footer  clearfix">
                                                                        <div class="property-preview-f-left text-color-primary">
                                                                            <span class="property-card-value">
                                                                                <i class="fa fa-home"></i>House
                                                                            </span>
                                                                            <span class="property-card-value">
                                                                                <i class="fa fa-tint"></i>1
                                                                            </span>
                                                                            <span class="property-card-value">
                                                                                <i class="fa fa-square-o"></i>200m
                                                                            </span>
                                                                            <span class="property-card-value">
                                                                                <i class="fa fa-eur"></i>60 000
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="property-card card">
                                                                <div class="property-card-header image-box">
                                                                    <img src="../../../../front/assets/img/placeholders/395x250.png" alt="" class="" />
                                                                    <a href="listing.html" class="property-card-hover">
                                                                        <img src="../../../../front/assets/img/property-hover-arrow.png" alt="" class="left-icon" />
                                                                        <img src="../../../../front/assets/img/plus.png" alt="" class="center-icon" />
                                                                        <img src="../../../../front/assets/img/icon-notice.png" alt="" class="right-icon" />
                                                                    </a>
                                                                </div>
                                                                <div class="property-card-tags">
                                                                    <span class="label label-default label-tag-warning">rent</span>
                                                                </div>
                                                                <div class="property-card-box card-box card-block">
                                                                    <h3 class="property-card-title"><a href="listing.html">Pool couple</a></h3>
                                                                    <div class="property-card-descr">This is simply dummy text of the printing and typesetting industry. That has been the industry standard ...</div>
                                                                    <div class="property-preview-footer  clearfix">
                                                                        <div class="property-preview-f-left text-color-primary">
                                                                            <span class="property-card-value">
                                                                                <i class="fa fa-home"></i>House
                                                                            </span>
                                                                            <span class="property-card-value">
                                                                                <i class="fa fa-tint"></i>1
                                                                            </span>
                                                                            <span class="property-card-value">
                                                                                <i class="fa fa-square-o"></i>200m
                                                                            </span>
                                                                            <span class="property-card-value">
                                                                                <i class="fa fa-eur"></i>60 000
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                                Pages
                                                <i class="icon-dropdown"></i>
                                            </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="page_gallery.html">Basic with Gallery</a>
                                                <a class="dropdown-item" href="login.html">Login</a>
                                                <a class="dropdown-item" href="mylistings.html">My Listings</a>
                                                <a class="dropdown-item" href="listing.html">Listing Preview</a>
                                                <a class="dropdown-item" href="ask_expert.html">FAQ</a>
                                                <a class="dropdown-item" href="agents.html">Agents</a>
                                                <a class="dropdown-item" href="profile.html">Agent Profile</a>
                                                <a class="dropdown-item" href="blog.html">Blog List</a>
                                                <a class="dropdown-item" href="page_cart.html">Cart</a>
                                                <a class="dropdown-item" href="component_alerts.html">Components</a>
                                                <a class="dropdown-item" href="page_invoice.html">Invoice</a>
                                                <a class="dropdown-item" href="contact.html">Contact</a>
                                            </div>
                                        </li> -->
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                    </section><!-- /.menu-->
                </div>
            </div>
            <div class="top-box-mask"></div>
            </header><!-- /.header-->